:root {
  --color-primary: #1b1f3b;
  --color-secondary: #7180ac;
  --color-ternary: #E8F1F2;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --font-main: "Josefin Sans", sans-serif;
  --font-code: "Courier, monospace";
  --font-color-primary: #ffffff;
  --font-color-secondary: #000000;
}

body {
  background-color: var(--color-secondary);
  font-family: var(--font-main);
}

.App {
  height: 100vh;
}
