.searchBar {
    width: -webkit-fill-available;
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    margin-top: 8px;
    outline: 0;
    background-color: var(--color-ternary);
}

.searchSuggestions {
    width: 100%;
    height: 100px;
    background-color: var(--color-ternary);
    position: absolute;
    box-shadow: 1px 10px 10px 1px var(--color-primary);
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

.userName {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
}

.profileImage {
    border-radius: 50%;
    margin: 10px;
}